{{!-- This will be rendered on the recipe page once a user logs on --}}

    <div class="col s12 m4">
      <a href="/recipe/{{id}}">
        <div class="card blue-grey">
          <div class="card-content white-text">
            <span class="card-title">{{recipe_name}}</span>
            <p>{{description}}</p>
          </div>
        </div>
      </a>
    </div>