{{!-- This will be rendered on the recipe page once a user logs on --}}
<section class="card">
  <a href="/recipe/{{id}}">
    <header>{{recipe.name}}</header>
    <h3 class="recipe-description">
        {{recipe.description}}
    </h3>
  </a>
</section>