<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Cookbook</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="\public\css\styles.css">
</head>

<body class="blue-grey lighten-5">
  <header class="header">
    <nav class="nav-wrapper deep-purple darken-3">
      <a href="/homepage" class="brand-logo">My Recipe Cookbook<i class="large material-icons">local_dining</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/newrecipe" class="waves-effect waves-light btn" id="add-recipe" >Add New Recipe</a></li>
        <li><a href="" class="waves-effect waves-light btn" id="logout">Logout</a></li>
      </ul>
    </nav>
  </header>

  <main class="recipes blue-grey lighten-5">
    {{{ body }}}
  </main>
  
  <footer>
      
</footer>
  
  {{#if logged_in}}
  <script src="/public/js/logout.js"></script>
  <script src="/public/js/homepage.js"></script>
  {{/if}}
</body>

</html>
