{{!-- Page that will be rendered when preview card is selected --}}

<div class="container">
  
  <section class="row">
    <div class="col s12 m6 l6 offset-m3 offset-l3 card center">
      <h1 class="recipe-name card-title">{{recipe_name}}</h1>
      <h3 class="recipe-description card-content">{{description}}</h3>
    </div>
    <div class="col s12 m6 l6 offset-m3 offset-l3 card right-align">
      <h3 class="ingredients card-content">{{ingredients}}
      </h3>
      <h3 class="instructions card-content">{{steps}}
      </h3>
    </div>
    <div class="col s12 m6 l6 offset-m3 offset-l3 center">
      <button class="btn" type="submit">Return to homepage</button>
    </div>
  </section>
    
</div>
