<div class="container">
    <div class="row">
        <section class="search">
            <div class="search-bar">
                <label for="search-input">Look for a New Recipe:</label>
                <input class="form-input" type="text" id="search-input" placeholder="Search" />
                <button class="btn" type="submit" id="search-submit">Submit</button>
                <button class="btn" id="clear-btn">Clear Search</button>
            </div>
        </section>
    </div>
</div>

{{!-- Search data will be submitted here --}}
<section class="container">
    <div class="row">
        <div id="recipes-retrieved">
        

        </div>
    </div>
</section>

<!-- For each recipe, the recipe-details partial is used to render the recipe preview -->
<section class="container">
    <h4 class="teal-text">My Saved Recipes:</h4>
    <div class="row">
        {{#each recipes as |recipe|}}
        {{> preview-recipe}}
        {{/each}}
    </div>
</section>

<script src="/public/js/homepage.js"></script>
