<div class="container">
    <div class="row">
        <section class="search">
            <div class="search-bar">
                <label for="search-input">Look for a New Recipe:</label>
                <input class="form-input" type="text" id="search-input" placeholder="Search" />
                <button class="btn" type="submit" id="search-submit">Submit</button>
            </div>
        </section>
    </div>
</div>

<!-- For each recipe, the recipe-details partial is used to render the recipe preview -->
<div class="row">
{{#each recipes as |recipe|}}
{{> preview-recipe}}
{{/each}}
</div>

<section class="container">
    <div id="recipes-retrieved">
            
    </div>
</section>

<script src="/public/js/homepage.js"></script>
