{{!-- Page that will be rendered when add new recipe button is selected --}}
<div class="container">
  <div class="row">
      <section class="card grey lighten-5 col s12 m6 l6 offset-m3 offset-l3 center">
        <h1 class="recipe-title card-title">Add Recipe Link Below:</h1>
        <input class="form-input" type="text" id="recipe-link" placeholder="Add link here"/>
        <button id="populate-btn" class="btn" type="submit">Populate my Recipe!</button>
        <section id="new-recipe-container">
     
        </section>
      </section>
  </div>
</div>


<script src="/public/js/new-recipe.js"></script>
